@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

header {
    background-color: #000000;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

body {
    background-color: #ffffff;
}

h1 {
    color: #ffffff;
    font-weight: bold;
}

a {
    color: #ffffff;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.menu {
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.menu li {
    padding: 15px;
}

.presentation {
    height: 100vh; 
    background-image: url("Pictures/background.png");
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center; 
    align-items: center;
    text-align: center;
    position: relative;
}

.presentation h1 {
    font-size: 70px;
    padding: 20px 40px;
    border-radius: 10px;
}