@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

header {
    width: 100%;
    background-color: #000000;
    padding: 20px;
    padding-bottom: 0;
    box-sizing: border-box;
    align-items: center;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

body {
    background-color: #ffffff;
}

h1 {
    color: #ffffff;
    font-weight: bold;
}

a {
    color: #ffffff;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.menu {
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.menu li {
    padding: 15px;
    position: relative;
    display: flex;
}
.menu li::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 0%;
    height: 1px;
    background-color: white;
}
.menu li:hover::after {
    width: 100%;
}
.menu-link {
    display: flex;
    align-items: center;
    gap: 10px;
}

.presentation {
    width: 100%;
    aspect-ratio: 2 / 1;
    background-image: url("Pictures/PortfolioBackground.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.content {
    font-size: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.buttons {
    display: flex;
    gap: 15px;
}
.button {
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0.3);
    width: 160px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    border: 1px solid white;
}
.button:hover {
    background-color: rgba(255, 255, 255, 0.2); 
    color: #ffffff;
}

.projects-presentation {
    font-size: 20px;
    height: 760px;
    width: 100%;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 40px;
}
.projects {
    display: flex;
    gap: 20px;
}
.project {
    font-size: 20px;
    background-color: #383838;
    width: 480px;
    height: 540px;
    color: #ffffff;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    text-align: left;
}
.project-image {
    display: block;
    margin: 0 auto 20px;
    width: 90%;
    height: 340px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 20px;
}
project-title {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
}
.project-description {
    margin-top: 10px;
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 20px;
}
.project-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    width: 160px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    border: 1px solid white;
}
.project-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: #ffffff;
}

.footer {
    height: 20px;
    width: 100%;
    background-color: #383838;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 40px;
    padding: 40px;
    color: #ffffff;
}
.footer-links {
    display: flex;
    align-items: center; 
    justify-content: center; 
    gap: 40px; 
    flex-wrap: wrap; 
}

.logo {
    height: 40px;
}

.background {
    color: #ffffff;
    width: 100%;
    aspect-ratio: 4 / 1;
    background-image: url("Pictures/BackgroundPages.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}
.background p{
    font-size: 25px;
}

.about-me {
    font-size: 20px;
    height: 1400px;
    width: 100%;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 40px;
}
.informations-about-me {
    display: flex;
    gap: 160px;
}
.information {
    font-size: 20px;
    background-color: #383838;
    width: 520px;
    height: 580px;
    color: #ffffff;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    text-align: center;
}
.information h1 {
    margin-bottom: 20px;
}
.information p {
    margin-bottom: 20px;
}
.information-image {
    height: 370px;
}

.skill {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}
.skill-logo {
    height: 60px;
}

.school-logo {
    height: 120px;
    margin-bottom: 25px;
}

.event-logo {
    height: 220px;
    margin-bottom: 20px;
}
.event {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.contact-me {
    font-size: 30px;
    height: 900px;
    width: 100%;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 40px;
    color: #ffffff;
}

.back-project-page {
    color: #ffffff;
    width: 100%;
    aspect-ratio: 4 / 1;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}
.back-project-page-dreadwake {
    color: #ffffff;
    width: 100%;
    aspect-ratio: 4 / 1;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.back-project-page::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.4);
}
.back-project-page-dreadwake::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.2);
}

.back-project-page .content {
    position: relative;
    text-align: center;
    z-index: 1;
}
.back-project-page-dreadwake .content {
    position: relative;
    text-align: center;
    z-index: 1;
}








.contact-form-wrapper {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  color: white;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

form input, form textarea {
  padding: 10px;
  background-color: #222;
  color: white;
  border: 1px solid #fff;
  border-radius: 5px;
  font-size: 16px;
  resize: vertical;
}

form textarea {
  height: 150px;
}

form label {
  font-size: 18px;
  margin-top: 10px;
}

form .hidden {
  display: none;
}

.contact-background{
    background-color: #ff0000;
}










.project-core {
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    background-color: #000000;
    justify-content: center;
    height: 2000px;


    display: grid;
    grid-template-columns: 300px 1fr 300px;
    align-items: start;
}
.project-core > div {
    flex: 1; 
    background-color: #383838;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    transition: transform 0.2s;
    color: #ffffff;
}
.project-core > div:hover {
    transform: translateY(-5px);
}


.project-concept {
    padding: 20px;
    border-radius: 10px;
    display: grid;
    justify-content: center;
}
.project-concept h1 {
    margin-bottom: 30px;
    margin-left: 60px;
}
.project-concept p {
    margin-bottom: 60px;
    font-size: 20px;
    color: #ff0000;
    margin-left: 60px;
}
.project-concept-dreadwake {
    padding: 20px;
    border-radius: 10px;
    display: grid;
    justify-content: center;
}
.project-concept-dreadwake h1 {
    margin-bottom: 30px;
    margin-left: 60px;
}
.project-concept-dreadwake p {
    margin-bottom: 60px;
    font-size: 20px;
    color: #1566cb;
    margin-left: 60px;
}
.project-concept-NoTanks {
    padding: 20px;
    border-radius: 10px;
    display: grid;
    justify-content: center;
}
.project-concept-NoTanks h1 {
    margin-bottom: 30px;
    margin-left: 60px;
}
.project-concept-NoTanks p {
    margin-bottom: 60px;
    font-size: 20px;
    color: #09a324;
    margin-left: 60px;
}


.project-title-wrapper {
    padding: 25px;
    display: flex;
    gap: 200px;
    justify-content: center;
}
.project-title-wrapper-dreadwake {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}
.project-title-wrapper-NoTanks {
    padding: 25px;
    display: flex;
    gap: 200px;
    justify-content: center;
    align-items: flex-end;
}

.project-title-sprite {
    height: 350px;
}
.project-title-sprite-dreadwake {
    height: 300px;
    width: 710px;
}
.project-title-sprite-NoTanks {
    height: 300px;
}

.project-character-sprite {
    height: 200px;
    image-rendering: pixelated;
}
.project-character-sprite-dreadwake {
    height: 600px;
}
.project-title-text-wrapper {
    display: flex;
    flex-direction: column;
}

.project-screenshot {
    height: 200px;
    margin: 30px;
}
.screenshots {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 100px;
}
.video {
    margin-left: 80px;
    margin-bottom: 80px;
}

.links {
    display: flex;
    gap: 50px;
}


.table-of-content {
    background-color: #383838;
    height: 300px;
    position: sticky;
    top: 20px;
    align-self: start;
}
.table-of-content h2 {
  margin-bottom: 15px;
  font-size: 30px;
}
.table-of-content ul {
  list-style-type: none;
}
.table-of-content ul li {
  margin: 8px 0;
  background-color: rgba(0, 0, 0, 0.3);
  height: 50px;
  padding: 15px;
  border: 1px solid white;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}
.table-of-content ul :hover{
    background-color: rgba(255, 255, 255, 0.2); 
}

.table-of-content ul li ul {
  margin-left: 20px;
}
.table-of-content a {
  color: #ffffff;
  text-decoration: none;
  transition: transform 0.2s ease;
}
.table-of-content a:hover {
  text-decoration: underline;
  background: none;
}







.project-creator {
    background-color: #f9f9f9;
    padding: 30px;
    border-radius: 12px;
    max-width: 400px;
    height: 600px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    color: white;


    position: sticky;
    top: 20px;
    align-self: start;
}

.creator-photo {
    width: 260px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #ddd;
    image-rendering: auto;
}
.creator-photo-wrapper {
    padding: 25px; 
    display: flex;
    justify-content: center;
}

.creator-name {
    font-size: 24px;
    margin-bottom: 10px;
}

.creator-description {
    font-size: 16px;
    margin-bottom: 20px;
}

.creator-role {
    font-size: 0.9em;
    font-style: italic;
    margin: 5px 0 35px 0;
}

.creator-links {
    list-style: none;
    padding: 0;
    justify-content: center;
    gap: 15px;
    display: grid;
    align-items: center;
}
.creator-link {
    display: flex; 
    align-items: center; 
    gap: 8px;
}

.creator-link img {
    display: flex;
    width: 28px; 
    height: 28px;
    transition: transform 0.2s ease;
}
.creator-link img:hover {
    transform: scale(1.2); 
}