body {
    font-family: Arial, sans-serif;
    background-color: #170d0d;
    margin: 40px;
    color: #333;
}

h1 {
    color: #ff0000;
}

img {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}